/* UBC Colors
UBC Blue: #002145
Blue 1:   #0055B7
Blue 2:   #00A7E1
Blue 3:   #40B4E5
Blue 4:   #6EC4E8
Blue 5:   #97D4E9
White:    #FFFFFF */

.container1 {
  position: relative;
  padding-left: 29%;
}

.mainpic {
  width: 100%;
  border-radius: 2px;
}

.mainpicdiv {
  position: absolute;
  left: 0;

  width: 29%;
}


.intro {
  padding-left: 1rem;
  text-align: justify;
}
.intro p{
  margin: 0;
}
.timelinecontainer{
  width: 60%;
  margin: auto;
}
.timelineheader{
  width: 60%;
  margin: auto;
  border-bottom: 1px solid grey;
  text-align: center;
  margin-top: 2rem;
  /* background-color: silver; */
  border-radius: 2px;
  color: #002145;
}
.timelineheader h2{
  margin: 0;
}

.table {
  margin-bottom: 1rem;
}

.table th{
  text-align: center;
  background-color: #CCCCCC;
}
.table td{
  background-color: #e6f2ff;
  padding: .25rem;
}
.table td{
  border-bottom: grey solid 1px;
}

@media only screen and (max-width: 992px){


  .timelinecontainer {
    width: 100%;
  }
  .timelineheader{
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  .container1{
    padding: 0;
  }
  .intro{
    padding: 0;
    margin-top: 1rem;
  }
  .mainpicdiv {
    position: relative;
    width: 60%;
    margin: auto;
  }
}
