.container {
   transition: opacity 2s;
   background-color: blue;
   padding-top: 3rem;
   padding-left: 3rem;
   padding-right: 3rem;
   width: 80%;
   margin: auto;
}

.container h1 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1;
  color: inherit;
  font-size: 2.5rem;
}

/* .titlediv {
  text-align: justify;
  margin: 0;
} */
/* .titlediv:after {
  content: "";
  display: inline-block;
  width: 100%;
} */


.container p {
  margin: 0;
  /* padding-bottom: 1rem; */
  font-weight: 500;
  line-height: 1;
  color: inherit;
}

.titlecontainer {
  /* flex-grow: 1; */
  flex-shrink: 1;
  flex-basis: 0;
  white-space: nowrap;
  overflow-x: hidden;
  /* transition: flex-grow 2s; */
}

.navcontainer {
  /* flex-grow: 1; */
  flex-shrink: 1;
  flex-basis: 1;
  /* transition: flex-grow 2s; */

  display: flex;
}




/* 100% Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .container {
        width: 100%;
    }
}
