.container {
  text-align: center;
  flex-direction: row;
  flex: 1 1 0;
  border-bottom: #F5F5F5 solid 3px;
  border-top: #F5F5F5 solid 3px;
}

.container:hover{
  border-bottom: black solid 3px;
}

.link {
  color: grey;
  margin: 0;
  font-size: 1.3rem;
}

.link:hover{
  color: black;
}
