.container {
   padding-top: 1rem;
   padding-bottom: 4.25rem;
   padding-left: 1rem;
   padding-right: 1rem;
   width: 80%;
   margin: auto;
   max-width: 1280px;
}

.addpadding {
  padding-top: 4.75rem;
}

.consttoppadding {
  padding-top: 5.5rem;
}



/* 100% Width on Smaller Screens */
@media only screen and (max-width: 992px){
    .container {
        width: 100%;
        padding-bottom: 0;
    }
}
